extends ../layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg",alt="Imagen de nosotros",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                p In sollicitudin eros eu enim accumsan laoreet. Vestibulum at interdum nulla, nec facilisis felis. Donec ullamcorper lacinia metus id vulputate. Integer at volutpat metus, sit amet accumsan arcu. 
                p Vivamus vitae lacinia mauris. Pellentesque et risus auctor, varius eros eu, interdum libero. Maecenas metus quam, lacinia eget ex sed, blandit ornare ex. Ut non aliquam mauris, a feugiat ante. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg",class="img-fluid" mb-4)
                    h2.mb-4 Seguridad
                    p In et odio pellentesque, malesuada odio vel, fermentum tellus. Praesent venenatis augue metus, quis eleifend velit semper a.
                .col-md-4
                    img(src="img/icono_destinos.svg",class="img-fluid" mb-4)
                    h2.mb-4 Mejores Destinos
                    p In et odio pellentesque, malesuada odio vel, fermentum tellus. Praesent venenatis augue metus, quis eleifend velit semper a.
                .col-md-4
                    img(src="img/icono_precio.svg",class="img-fluid" mb-4)
                    h2.mb-4 Mejor Precio
                    p In et odio pellentesque, malesuada odio vel, fermentum tellus. Praesent venenatis augue metus, quis eleifend velit semper a.