extends ../layout/index
block contenido
    main.container.mt-5
        h1.text-center.mb-5 #{pagina}
        .row
            .col-md-12
                include ../layout/partials/testimoniales
            .col-md-12
                h2.text-center Agrega un Testimonial
                if(errores)
                    each error in errores
                        .alert.alert-danger.text-center=error.mensaje
                .row.justify-content-center
                    .col-md-8
                        form(action="/testimoniales",method="POST")
                            .form-group
                                label(for="nombre") Nombre
                                input(type="text", name="nombre",id="nombre",class="form-control",placeholder="Tu Nombre",value=nombre)
                            .form-group
                                label(for="correo") Correo Electrónico
                                input(type="email", name="correo",id="correo",class="form-control",placeholder="Tu Correo Electrónico",value=correo)
                            .form-group
                                label(for="mensaje") Mensaje
                                textarea(name="mensaje",id="mensaje",class="form-control",placeholder="Tu Mensaje")=mensaje
                            input(type="submit", value="Agregar",class="btn btn-success btn-block")