extends ../layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src=`/img/destinos_${viaje.imagen}_ln.jpg`,alt=`Imagen de ${viaje.titulo}`,class="img-fluid")
            .col-md-7
                h1 #{viaje.titulo}
                p
                    i.fas.fa-calendar-alt
                    |   #{viaje.fechaIda} - #{viaje.fechaVuelta}
                p
                    i.fas.fa-dollar-sign
                    |   #{viaje.precio}
                p
                    i.fas.fa-users
                    |   #{viaje.lugaresDisponibles} Disponibles
                p=viaje.descripcion