extends ../layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Phasellus sit amet nisi nec magna efficitur pretium eget in nisi. Quisque dapibus, magna imperdiet euismod viverra, risus sem pharetra turpis, ut rhoncus metus ipsum ac justo. Morbi eu eros quis quam pellentesque laoreet non vitae sapien.
                p Mauris pulvinar metus nec purus gravida, nec accumsan risus efficitur. Phasellus accumsan urna erat, at volutpat neque porttitor eget. Quisque pellentesque pharetra cursus. Etiam pulvinar at est nec varius.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg",class="img-fluid")
        h2.text-center.mb-5 Proximos Viajes
        include ../layout/partials/viajes
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo 2021 - 28  de Marzo 2021
                        p.precio $2,500 USD
    .container
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales